<link href='app/lib/include/css/ajuste.css?appver=1790096189' rel='stylesheet' type='text/css' media='screen'>

<!-- Versatronic Design System: carregado por último para preservar o comportamento
     do Adianti e assumir somente a apresentação dos componentes. -->
<link href='app/templates/{template}/css/versatronic-tokens.css?appver=20260922' rel='stylesheet' type='text/css' media='screen'>
<link href='app/templates/{template}/css/versatronic-shell.css?appver=20260922' rel='stylesheet' type='text/css' media='screen'>
<link href='app/templates/{template}/css/versatronic-components.css?appver=20260922' rel='stylesheet' type='text/css' media='screen'>
<link href='app/templates/{template}/css/versatronic-responsive.css?appver=20260922' rel='stylesheet' type='text/css' media='screen'>
<script src='app/templates/{template}/js/versatronic.js?appver=20260922' defer></script>

